@{
    ViewBag.Title = "CGBatalionDetail";
    Layout = "~/Views/Shared/_LayoutHN.cshtml";
}
<div class="mainmenu-area">
    <div class="container">
        <div class="row">
            <div class="mainmenu">
                <div class="col-xs-12">
                    <nav class="navbar" id="navbar-example2">
                        <div class="navbar-header">
                            <button class="collapsed navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-example-js-navbar-scrollspy">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse bs-example-js-navbar-scrollspy">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="@Url.Action("Index","HomeHN")" title="होम">होम</a></li>
                                <li><a href="@Url.Action("ActsandRules", "HomeHN")" title="नियम अधिनियम">नियम अधिनियम</a></li>
                                <li><a href="@Url.Action("Gallery", "HomeHN")" title="फोटो गैलेरी">फोटो गैलेरी</a></li>
                                <li><a href="@Url.Action("Contact", "HomeHN")" title="संपर्क">संपर्क</a></li>
                                <li><a href="@Url.Action("WebsitePolicies", "HomeHN")" title="वेबसाइट नीति">वेबसाइट नीति</a></li>
                                <li>
                                    <a href="@Url.Action("Downloads", "HomeHN")" title="डाउनलोड">डाउनलोड </a>
                                </li>

                            </ul>
                        </div>
                    </nav>

                </div>
            </div>
        </div>
    </div>
</div>
<section class="blog-area section-padding" style="background-color:#e9e7e7">
    <div class="container">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-12  wow fadeIn" data-wow-delay="0.3s" style="margin-top:-60px;">
                <div class="sinlge-blog">

                    <a href="#" title="we call of thieves">
                        <h4>सी ए एफ वाहिनियों के बारे में जानकारी</h4>
                    </a>

                    <div class="meta-content">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead style="font-weight:bold;color:#906161">
                                    <tr>
                                        <td>स.क्र.</td>
                                        <td>वाहिनी</td>
                                        <td>एसटीडी कोड</td>
                                        <td>दूरभाष(कार्या)</td>
                                        <td>सेनानी का सीयूजी नंबर</td>
                                        <td>डीडीओ कोड</td>
                                    </tr>

                                </thead>
                                <tbody>

                                    <tr>
                                        <td class="style25">
                                            1.
                                        </td>
                                        <td class="style25">
                                            <span style="color: #337ab7">  प्रथम वाहिनी छत्तीसगढ़ सशस्त्र बल भिलाई ज़िला दुर्ग</span>
                                        </td>
                                        <td class="style25">
                                            0788
                                        </td>
                                        <td class="style25">
                                            2293743
                                        </td>
                                        <td class="style25">
                                            94791-90810
                                        </td>
                                        <td>1002003</td>
                                    </tr>

                                    <tr>
                                        <td>2.</td>
                                        <td style="color: #337ab7">2 री वाहिनी छत्तीसगढ़ सशस्त्र बलसकरी ज़िला बिलासपुर</td>
                                        <td>07752</td>
                                        <td>283319</td>
                                        <td>94791-90820</td>
                                        <td>0702006</td>
                                    </tr>

                                    <tr>
                                        <td>3.</td>
                                        <td style="color: #337ab7">3 री वाहिनी छत्तीसगढ़ सशस्त्र बल अमलेश्वर ज़िला दुर्ग</td>
                                        <td>0771</td>
                                        <td>-</td>
                                        <td>94791-90830</td>
                                        <td>1102014</td>
                                    </tr>

                                    <tr>
                                        <td>4.</td>
                                        <td style="color: #337ab7">4 थी वाहिनी छत्तीसगढ़ सशस्त्र बल माना ज़िला रायपुर</td>
                                        <td>0771</td>
                                        <td>
                                            2418504, 
                                            2418079
                                        </td>
                                        <td>94791-90840</td>
                                        <td>6602006</td>
                                    </tr>

                                    <tr>
                                        <td>5.</td>
                                        <td style="color: #337ab7">5 वीं वाहिनी छत्तीसगढ़ सशस्त्र बल जगदलपुर ज़िला बस्तर</td>
                                        <td>07782</td>
                                        <td>222610</td>
                                        <td>94791-90850</td>
                                        <td>1502003</td>
                                    </tr>

                                    <tr>
                                        <td>6.</td>
                                        <td style="color: #337ab7">6 ठी वाहिनी छत्तीसगढ़ सशस्त्र बल रायगढ़ ज़िला रायगढ़</td>
                                        <td>07762</td>
                                        <td>232480</td>
                                        <td>94791-90860</td>
                                        <td>0402002</td>
                                    </tr>

                                    <tr>
                                        <td>7.</td>
                                        <td style="color: #337ab7">7 वीं वाहिनी छत्तीसगढ़ सशस्त्र बल भिलाई ज़िला दुर्ग</td>
                                        <td>0788</td>
                                        <td>2293742</td>
                                        <td>94791-90870</td>
                                        <td>1002004</td>
                                    </tr>

                                    <tr>
                                        <td>8.</td>
                                        <td style="color: #337ab7">8 वीं वाहिनी छत्तीसगढ़ सशस्त्र बल राजनादगांव ज़िला राजनादगांव</td>
                                        <td>07744</td>
                                        <td>291430</td>
                                        <td>94791-90880</td>
                                        <td>0902007</td>
                                    </tr>

                                    <tr>
                                        <td>9.</td>
                                        <td style="color: #337ab7">9 वीं वाहिनी छत्तीसगढ़ सशस्त्र बल करली ज़िला दंतेवाडा</td>
                                        <td>07856</td>
                                        <td>202043</td>
                                        <td>94791-90890</td>
                                        <td>1602005</td>
                                    </tr>

                                    <tr>
                                        <td>10.</td>
                                        <td style="color: #337ab7">10 वीं वाहिनी छत्तीसगढ़ सशस्त्र बल सूरजपुर ज़िला सूरजपुर</td>
                                        <td>07775</td>
                                        <td>2296480</td>
                                        <td>94791-92007</td>
                                        <td>2702002</td>
                                    </tr>

                                    <tr>
                                        <td>11.</td>
                                        <td style="color: #337ab7">11 वीं वाहिनी छत्तीसगढ़ सशस्त्र बल जांजगीर-चाम्पा ज़िला जांजगीर-चाम्पा</td>
                                        <td>07817</td>
                                        <td>200410</td>
                                        <td>94791-90910</td>
                                        <td>0602004</td>
                                    </tr>

                                    <tr>
                                        <td>12.</td>
                                        <td style="color: #337ab7">12 वीं वाहिनी छत्तीसगढ़ सशस्त्र बल रामानुजगंज ज़िला बलरामपुर</td>
                                        <td>07779</td>
                                        <td>276066</td>
                                        <td>94791-90920</td>
                                        <td>2602002</td>
                                    </tr>

                                    <tr>
                                        <td>13.</td>
                                        <td style="color: #337ab7">13 वीं वाहिनी छत्तीसगढ़ सशस्त्र बल बांगो ज़िला कोरबा</td>
                                        <td>07810</td>
                                        <td>273446</td>
                                        <td>94791-27346</td>
                                        <td>0502010</td>
                                    </tr>

                                    <tr>
                                        <td>14.</td>
                                        <td style="color: #337ab7">14 वीं वाहिनी छत्तीसगढ़ सशस्त्र बल भारत रक्षित दल्ली राजहरा ज़िला बालोद</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>94791-90045</td>
                                        <td>2202004</td>
                                    </tr>

                                    <tr>
                                        <td>15.</td>
                                        <td style="color: #337ab7">15 वीं वाहिनी छत्तीसगढ़ सशस्त्र बल बीजापुर ज़िला बीजापुर</td>
                                        <td>07853</td>
                                        <td>220351</td>
                                        <td>-</td>
                                        <td>1802004</td>
                                    </tr>

                                    <tr>
                                        <td>16.</td>
                                        <td style="color: #337ab7">	16 वीं वाहिनी छत्तीसगढ़ सशस्त्र बल नारायणपुर ज़िला नारायणपुर</td>
                                        <td>07781</td>
                                        <td>252931</td>
                                        <td>94791-90960</td>
                                        <td>1702003</td>
                                    </tr>

                                    <tr>
                                        <td>17.</td>
                                        <td style="color: #337ab7">17 वीं वाहिनी छत्तीसगढ़ सशस्त्र बल कबीरधाम ज़िला कबीरधाम</td>
                                        <td>07741</td>
                                        <td>
                                            233303,
                                            233304
                                        </td>
                                        <td>94791-90680</td>
                                        <td>0802004</td>
                                    </tr>

                                    <tr>
                                        <td>18.</td>
                                        <td style="color: #337ab7">18 वीं वाहिनी छत्तीसगढ़ सशस्त्र बल मनेन्द्रगढ़ ज़िला कोरिया</td>
                                        <td>07836</td>
                                        <td>233351</td>
                                        <td>94791-91210</td>
                                        <td>0102005</td>
                                    </tr>

                                    <tr>
                                        <td>19.</td>
                                        <td style="color: #337ab7">19 वीं वाहिनी छत्तीसगढ़ सशस्त्र बल भारत रक्षित जगदलपुर ज़िला बस्तर</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>1502012</td>

                                    <tr>
                                        <td>20.</td>
                                        <td style="color: #337ab7">20 वीं वाहिनी छत्तीसगढ़ सशस्त्र बल भारत रक्षित महासमुंद ज़िला महासमुंद</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>1202003</td>
                                    </tr>

                                    <tr>
                                        <td>21.</td>
                                        <td style="color: #337ab7">21 वीं वाहिनी छत्तीसगढ़ सशस्त्र बल भारत रक्षित बालोद ज़िला बालोद</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>2202005</td>
                                    </tr>

                                    <tr>
                                        <td>22.</td>
                                        <td style="color: #337ab7">22 वीं वाहिनी छत्तीसगढ़ सशस्त्र बल भारत रक्षित कांकेर ज़िला कांकेर</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>1402006</td>
                                    </tr>








                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</section>



