
@{
    ViewBag.Title = "CommandantList";
    Layout = "~/Views/Shared/_LayoutHN.cshtml";
}
<div class="mainmenu-area">
    <div class="container">
        <div class="row">
            <div class="mainmenu">
                <div class="col-xs-12">
                    <nav class="navbar" id="navbar-example2">
                        <div class="navbar-header">
                            <button class="collapsed navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-example-js-navbar-scrollspy">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse bs-example-js-navbar-scrollspy">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="@Url.Action("Index","HomeHN")" title="होम">होम</a></li>
                                <li><a href="@Url.Action("ActsandRules", "HomeHN")" title="नियम अधिनियम">नियम अधिनियम</a></li>
                                <li><a href="@Url.Action("Gallery", "HomeHN")" title="फोटो गैलेरी">फोटो गैलेरी</a></li>
                                <li><a href="@Url.Action("Contact", "HomeHN")" title="संपर्क">संपर्क</a></li>
                                <li><a href="@Url.Action("WebsitePolicies", "HomeHN")" title="वेबसाइट नीति">वेबसाइट नीति</a></li>
                                <li>
                                    <a href="@Url.Action("Downloads", "HomeHN")" title="डाउनलोड">डाउनलोड </a>
                                </li>

                            </ul>
                        </div>
                    </nav>

                </div>
            </div>
        </div>
    </div>
</div>
<section class="blog-area section-padding" style="background-color:#e9e7e7">
    <div class="container">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-12  wow fadeIn" data-wow-delay="0.3s" style="margin-top:-60px;">
                <div class="sinlge-blog">

                    <a href="#" title="we call of thieves">
                        <h4>वाहिनी के सेनानियों की सूचि </h4>
                    </a>

                    <div class="meta-content">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead style="font-weight:bold;color:#906161">
                                    <tr>
                                        <td>स-क्र.</td>
                                        <td>सेनानी का नाम </td>
                                        <td style="text-align:center">कब से </td>
                                        <td style="text-align:center">कब तक </td>
                                    </tr>

                                </thead>
                                <tbody>

                                    <tr>
                                        <td class="style25">
                                            1.
                                        </td>
                                        <td class="style25">
                                            <span style="color: #337ab7; font-weight: bold"> श्री पी.एस. ठाकुर, भापुसे </span>
                                        </td>
                                        <td style="text-align:center">01-11-2000</td>
                                        <td style="text-align:center">13-12-2000</td>
                                    </tr>

                                    <tr>
                                        <td>2.</td>
                                        <td style="color: #337ab7; font-weight: bold">श्री एस.डब्ल्यू नकवी, भापुसे</td>
                                        <td style="text-align:center">20-12-2000</td>
                                        <td style="text-align:center">09-04-2002</td>
                                    </tr>

                                    <tr>
                                        <td>3.</td>
                                        <td style="color: #337ab7; font-weight: bold">श्री राजेश मिश्रा, भापुसे</td>
                                        <td style="text-align:center">09-04-2002</td>
                                        <td style="text-align:center">27-06-2002</td>
                                    </tr>

                                    <tr>
                                        <td>4.</td>
                                        <td style="color: #337ab7; font-weight: bold">श्री पी.एन. तिवारी, भापुसे </td>
                                        <td style="text-align:center">28-06-2002</td>
                                        <td style="text-align:center">25-11-2002</td>
                                    </tr>

                                    <tr>
                                        <td>5.</td>
                                        <td style="color: #337ab7; font-weight: bold">श्री एम.एस. तोमर, भापुसे</td>
                                        <td style="text-align:center">25-11-2002</td>
                                        <td style="text-align:center">15-12-2002</td>
                                    </tr>

                                    <tr>
                                        <td>6.</td>
                                        <td style="color: #337ab7;font-weight:bold">श्री जी.पी. सिंह, भापुसे</td>
                                        <td style="text-align:center">19-12-2003</td>
                                        <td style="text-align:center">06-04-2004</td>
                                    </tr>


                                    <tr>
                                        <td class="style25">
                                            7.
                                        </td>
                                        <td class="style25">
                                            <span style="color: #337ab7; font-weight: bold"> श्री एम.पी. चौधरी, भापुसे</span>
                                        </td>
                                        <td style="text-align:center">07-04-2004</td>
                                        <td style="text-align:center">25-06-2007</td>
                                    </tr>

                                    <tr>
                                        <td>8.</td>
                                        <td style="color: #337ab7; font-weight: bold">श्री बी.पी.एस. पौषार्य, भापुसे</td>
                                        <td style="text-align:center">28-06-2007</td>
                                        <td style="text-align:center">29-06-2009</td>
                                    </tr>

                                    <tr>
                                        <td>9.</td>
                                        <td style="color: #337ab7; font-weight: bold">श्री ओमप्रकाश पाल, भापुसे</td>
                                        <td style="text-align:center">29-06-2009</td>
                                        <td style="text-align:center">30-11-2010</td>
                                    </tr>

                                    <tr>
                                        <td>10.</td>
                                        <td style="color: #337ab7; font-weight: bold">श्री एन.के.एस. ठाकुर, भापुसे </td>
                                        <td style="text-align:center">13-12-2010</td>
                                        <td style="text-align:center">01-09-2012</td>
                                    </tr>

                                    <tr>
                                        <td>11.</td>
                                        <td style="color: #337ab7; font-weight: bold">श्रीमती नीतूकमल, भापुसे</td>
                                        <td style="text-align:center">09-01-2012</td>
                                        <td style="text-align:center">18-02-2013</td>
                                    </tr>

                                    <tr>
                                        <td>12.</td>
                                        <td style="color: #337ab7;font-weight:bold">श्री प्रवीर कुमार दास, भापुसे</td>
                                        <td style="text-align:center">20-02-2013</td>
                                        <td style="text-align:center">30-01-2004</td>
                                    </tr>


                                    <tr>
                                        <td class="style25">
                                            13.
                                        </td>
                                        <td class="style25">
                                            <span style="color: #337ab7; font-weight: bold"> श्री रतनलाल डांगी, भापुसे</span>
                                        </td>
                                        <td style="text-align:center">14-03-2014</td>
                                        <td style="text-align:center">23-01-2017</td>
                                    </tr>

                                    <tr>
                                        <td>14.</td>
                                        <td style="color: #337ab7; font-weight: bold">श्री बी.एस. ध्रुव, भापुसे</td>
                                        <td style="text-align:center">13-02-2017</td>
                                        <td style="text-align:center">18-05-2018</td>
                                    </tr>

                                    <tr>
                                        <td>15.</td>
                                        <td style="color: #337ab7; font-weight: bold">श्री गोवर्धन ठाकुर, भापुसे</td>
                                        <td style="text-align:center">18-05-2018</td>
                                        <td style="text-align:center">25-02-2019</td>
                                    </tr>

                                    <tr>
                                        <td>16.</td>
                                        <td style="color: #337ab7; font-weight: bold">श्री रामकृष्ण साहू, भापुसे</td>
                                        <td style="text-align:center">28-02-2019</td>
                                        <td style="text-align:center">Present</td>
                                    </tr>

                                   





                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</section>

