
@{
    ViewBag.Title = "DistrictPoliceRaipur";
    Layout = "~/Views/Shared/_LayoutHN.cshtml";
}
<div class="mainmenu-area">
    <div class="container">
        <div class="row">
            <div class="mainmenu">
                <div class="col-xs-12">
                    <nav class="navbar" id="navbar-example2">
                        <div class="navbar-header">
                            <button class="collapsed navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-example-js-navbar-scrollspy">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse bs-example-js-navbar-scrollspy">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="@Url.Action("Index","HomeHN")" title="होम">होम</a></li>
                                <li><a href="@Url.Action("ActsandRules", "HomeHN")" title="नियम अधिनियम">नियम अधिनियम</a></li>
                                <li><a href="@Url.Action("Gallery", "HomeHN")" title="फोटो गैलेरी">फोटो गैलेरी</a></li>
                                <li><a href="@Url.Action("Contact", "HomeHN")" title="संपर्क">संपर्क</a></li>
                                <li><a href="@Url.Action("WebsitePolicies", "HomeHN")" title="वेबसाइट नीति">वेबसाइट नीति</a></li>
                                <li>
                                    <a href="@Url.Action("Downloads", "HomeHN")" title="डाउनलोड">डाउनलोड </a>
                                </li>

                            </ul>
                        </div>
                    </nav>

                </div>
            </div>
        </div>
    </div>
</div>
<section class="blog-area section-padding" style="background-color:#e9e7e7">
    <div class="container">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-12  wow fadeIn" data-wow-delay="0.3s" style="margin-top:-60px;">
                <div class="sinlge-blog">

                    <a href="#" title="we call of thieves">
                        <h4>रायपुर जिले में पुलिस स्टेशन का संपर्क विवरण</h4>
                    </a>

                    <div class="meta-content">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead style="font-weight:bold;color:#906161">
                                    <tr style="background-color:#fbbecf">
                                        <td>स.क्र.</td>
                                        <td>थाना</td>
                                        <td>फोन नंबर</td>
                                    </tr>

                                </thead>
                                <tbody>

                                    <tr>
                                        <td class="style25">
                                            1.
                                        </td>
                                        <td class="style25">
                                            <span style="color: #337ab7; font-weight: bold">थाना सिविल लाईन</span>
                                        </td>

                                        <td>7714247123</td>
                                    </tr>

                                    <tr>
                                        <td>2.</td>
                                        <td style="color: #337ab7; font-weight: bold">थाना कोतवाली</td>
                                        <td>7714247121</td>

                                    </tr>

                                    <tr>
                                        <td>3.</td>
                                        <td style="color: #337ab7; font-weight: bold">थाना गंज</td>
                                        <td>7714247122</td>

                                    </tr>

                                    <tr>
                                        <td>4.</td>
                                        <td style="color: #337ab7; font-weight: bold">थाना खमतराई</td>
                                        <td>7714247131</td>

                                    </tr>

                                    <tr>
                                        <td>5.</td>
                                        <td style="color: #337ab7; font-weight: bold">थाना उरला</td>
                                        <td>7714247132</td>

                                    </tr>

                                    <tr>
                                        <td>6.</td>
                                        <td style="color: #337ab7;font-weight:bold">थाना आमानाका</td>
                                        <td>7712105000</td>

                                    </tr>


                                    <tr>
                                        <td>7.</td>
                                        <td style="color: #337ab7; font-weight: bold">थाना सरस्वती नगर</td>
                                        <td>7714055311</td>

                                    </tr>

                                    <tr>
                                        <td>8.</td>
                                        <td style="color: #337ab7; font-weight: bold">थाना आजाद चौक</td>
                                        <td>7714247128</td>

                                    </tr>

                                    <tr>
                                        <td>9.</td>
                                        <td style="color: #337ab7;font-weight:bold">थाना पुरानी बस्ती</td>
                                        <td>7714247127</td>

                                    </tr>
                                    <tr>
                                        <td>10.</td>
                                        <td style="color: #337ab7; font-weight: bold">थाना टिकरापारा</td>
                                        <td>7714247136</td>

                                    </tr>

                                    <tr>
                                        <td>11.</td>
                                        <td style="color: #337ab7; font-weight: bold">थाना पंडरी</td>
                                        <td>7714247124</td>

                                    </tr>

                                    <tr>
                                        <td>12.</td>
                                        <td style="color: #337ab7;font-weight:bold">थाना मौदहापारा</td>
                                        <td>7714247139</td>

                                    </tr>

                                    <tr>
                                        <td>13.</td>
                                        <td style="color: #337ab7; font-weight: bold">थाना गुढियारी</td>
                                        <td>7714247134</td>

                                    </tr>

                                    <tr>
                                        <td>14.</td>
                                        <td style="color: #337ab7; font-weight: bold">थाना तेलीबांधा</td>
                                        <td>7714247130</td>

                                    </tr>

                                    <tr>
                                        <td>15.</td>
                                        <td style="color: #337ab7;font-weight:bold">थाना गोलबाजार</td>
                                        <td>7714247135</td>

                                    </tr>

                                    <tr>
                                        <td>16.</td>
                                        <td style="color: #337ab7; font-weight: bold">थाना डी.डी. नगर</td>
                                        <td>7714247140</td>

                                    </tr>

                                    <tr>
                                        <td>17.</td>
                                        <td style="color: #337ab7; font-weight: bold">थाना देवेन्द्र नगर</td>
                                        <td>7714247125</td>

                                    </tr>

                                    <tr>
                                        <td>18.</td>
                                        <td style="color: #337ab7;font-weight:bold">थाना न्यू राजेन्द्र नगर</td>
                                        <td>7714247126</td>

                                    </tr>

                                    <tr>
                                        <td>19.</td>
                                        <td style="color: #337ab7; font-weight: bold">थाना अजाक</td>
                                        <td>7714247120</td>

                                    </tr>

                                    <tr>
                                        <td>20.</td>
                                        <td style="color: #337ab7; font-weight: bold">थाना महिला</td>
                                        <td>7714247133</td>

                                    </tr>

                                    <tr>
                                        <td>21.</td>
                                        <td style="color: #337ab7;font-weight:bold">थाना राखी</td>
                                        <td>7712121508</td>

                                    </tr>

                                    <tr>
                                        <td>22.</td>
                                        <td style="color: #337ab7; font-weight: bold">थाना माना</td>
                                        <td>7712285037</td>

                                    </tr>

                                    <tr>
                                        <td>23.</td>
                                        <td style="color: #337ab7; font-weight: bold">थाना मंदिर हसौद</td>
                                        <td>7712101903</td>

                                    </tr>

                                    <tr>
                                        <td>24.</td>
                                        <td style="color: #337ab7;font-weight:bold">थाना आरंग</td>
                                        <td>7720258235</td>

                                    </tr>

                                    <tr>
                                        <td>25.</td>
                                        <td style="color: #337ab7; font-weight: bold">थाना अभनपुर</td>
                                        <td>7712774228</td>

                                    </tr>

                                    <tr>
                                        <td>26.</td>
                                        <td style="color: #337ab7; font-weight: bold">थाना धरसीवां</td>
                                        <td>7721268225</td>

                                    </tr>

                                    <tr>
                                        <td>27.</td>
                                        <td style="color: #337ab7;font-weight:bold">थाना तिल्दा नेवरा</td>
                                        <td>7721233707</td>

                                    </tr>

                                    <tr>
                                        <td>28.</td>
                                        <td style="color: #337ab7; font-weight: bold">थाना खरोरा</td>
                                        <td>7720285232</td>

                                    </tr>

                                    <tr>
                                        <td>29.</td>
                                        <td style="color: #337ab7; font-weight: bold">थाना गोबरा-नवापारा</td>
                                        <td>7701233799</td>

                                    </tr>

                                    <tr>
                                        <td>30.</td>
                                        <td style="color: #337ab7;font-weight:bold">थाना विधानसभा</td>
                                        <td>7712283760</td>

                                    </tr>

                                    <tr>
                                        <td>31.</td>
                                        <td style="color: #337ab7; font-weight: bold">थाना मुजगहन</td>
                                        <td>-</td>

                                    </tr>

                                    <tr>
                                        <td>32.</td>
                                        <td style="color: #337ab7; font-weight: bold">थाना कबीरनगर</td>
                                        <td>-</td>

                                    </tr>




                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</section>


