@{
    ViewBag.Title = "DisttPoliceWebsite";
    Layout = "~/Views/Shared/_LayoutHN.cshtml";
}
<div class="mainmenu-area">
    <div class="container">
        <div class="row">
            <div class="mainmenu">
                <div class="col-xs-12">
                    <nav class="navbar" id="navbar-example2">
                        <div class="navbar-header">
                            <button class="collapsed navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-example-js-navbar-scrollspy">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse bs-example-js-navbar-scrollspy">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="@Url.Action("Index","HomeHN")" title="होम">होम</a></li>
                                <li><a href="@Url.Action("ActsandRules", "HomeHN")" title="नियम अधिनियम">नियम अधिनियम</a></li>
                                <li><a href="@Url.Action("Gallery", "HomeHN")" title="फोटो गैलेरी">फोटो गैलेरी</a></li>
                                <li><a href="@Url.Action("Contact", "HomeHN")" title="संपर्क">संपर्क</a></li>
                                <li><a href="@Url.Action("WebsitePolicies", "HomeHN")" title="वेबसाइट नीति">वेबसाइट नीति</a></li>
                                <li>
                                    <a href="@Url.Action("Downloads", "HomeHN")" title="डाउनलोड">डाउनलोड </a>
                                </li>

                            </ul>
                        </div>
                    </nav>

                </div>
            </div>
        </div>
    </div>
</div>
<section class="blog-area section-padding" style="background-color:#e9e7e7">
    <div class="container">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-12  wow fadeIn" data-wow-delay="0.3s" style="margin-top:-60px;">
                <div class="sinlge-blog">

                    <a href="#" title="we call of thieves">
                        <h4>Contact Us:</h4>
                    </a>

                    <div class="meta-content">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>

                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="style25">
                                            <a href="http://balodpolice.cg.gov.in/" target="_blank">
                                                <span class="style38">बालोद</span>
                                            </a>
                                        </td>
                                    </tr>
                                   
                                    <tr>
                                        <td class="style25">
                                            <a href="http://www.balodabazarpolice.in/" class="style38">बलौदा बाज़ार भाटापारा</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="style25">
                                            <a href="http://www.cgpolicebalrampur.in/" class="style38">बलरामपुर</a>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="style25">
                                            <a href="http://www.spbastar.com/" class="style38">बस्तर</a>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="style25">
                                            <a href="http://www.bemetarapolice.cg.gov.in/" class="style38">बेमेतरा</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="style25">
                                            <a href="http://bijapurpolice.cg.gov.in/" class="style38">बीजापुर</a>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="style25">
                                            <a href="http://districtpolice.bilaspur.gov.in/" class="style38">बिलासपुर</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="style25">
                                            <a href="http://www.dantewadapolice.in/" class="style38">दंतेवाडा</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="style25">
                                            <a href="http://cg.nic.in/Dhamtari/police/" class="style38">धमतरी</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="style25">
                                            <a href="http://durgpolice.cg.gov.in/" class="style38">दुर्ग</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="style25">
                                            <a href="http://www.gariabandpolice.cg.gov.in/" class="style38">गरियाबंद</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="style25">
                                            <a href="http://ww17.janjgirchampapolice.com/" class="style38">जांजगीर-चाम्पा</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="style25">
                                            <a href="http://www.cg.nic.in/jashpur/police/" class="style38">जशपुर</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="style25">
                                            <a href="http://kabirdhampolice.nic.in/" class="style38">कबीरधाम</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="style25">
                                            <a href="http://kankerpolice.bhartiinfo.com/" class="style38">कांकेर</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="style25">
                                            <a href="http://www.kondagaonpolice.cg.gov.in/" class="style38">कोंडागांव</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="style25">
                                            <a href="http://korbapolice.cg.gov.in/" class="style38">कोरबा</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="style25">
                                            <a href="http://www.cgpolicekorea.in/" class="style38">कोरिया</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="style25">
                                            <a href="http://cg.nic.in/mahasamundpolice/" class="style38">महासमुंद</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="style25">
                                            <a href="http://www.mungelipolice.cg.gov.in/" class="style38">मुंगेली</a>
                                        </td>
                                    </tr>
                                <tr>
                                    <td class="style25">
                                        <a href="http://www.narayanpurpolice.in/" class="style38">नारायणपुर</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="style25">
                                        <a href="http://www.raigarhpolice.com/" class="style38">रायगढ़</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="style25">
                                        <a href="http://raipurpolice.cgstate.gov.in/" class="style38">रायपुर</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="style25">
                                        <a href="http://rajnandgaonpolice.cg.gov.in/" class="style38">राजनादगांव</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="style25">
                                        <a href="http://sukmapolice.in/" class="style38">सुकमा</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="style25">
                                        <a href="https://surajpurpolice.blogspot.com/" class="style38">सूरजपुर</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="style25">
                                        <a href="http://cg.nic.in/surguja/police/" class="style38">सरगुजा</a>
                                    </td>





                                </tr>


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</section>

