
@{
    ViewBag.Title = "General";
    Layout = "~/Views/Shared/_LayoutHN.cshtml";
}
<div class="mainmenu-area">
    <div class="container">
        <div class="row">
            <div class="mainmenu">
                <div class="col-xs-12">
                    <nav class="navbar" id="navbar-example2">
                        <div class="navbar-header">
                            <button class="collapsed navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-example-js-navbar-scrollspy">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse bs-example-js-navbar-scrollspy">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="@Url.Action("Index","HomeHN")" title="होम">होम</a></li>
                                <li><a href="@Url.Action("ActsandRules", "HomeHN")" title="नियम अधिनियम">नियम अधिनियम</a></li>
                                <li><a href="@Url.Action("Gallery", "HomeHN")" title="फोटो गैलेरी">फोटो गैलेरी</a></li>
                                <li><a href="@Url.Action("Contact", "HomeHN")" title="संपर्क">संपर्क</a></li>
                                <li><a href="@Url.Action("WebsitePolicies", "HomeHN")" title="वेबसाइट नीति">वेबसाइट नीति</a></li>
                                <li>
                                    <a href="@Url.Action("Downloads", "HomeHN")" title="डाउनलोड">डाउनलोड </a>
                                </li>

                            </ul>
                        </div>
                    </nav>

                </div>
            </div>
        </div>
    </div>
</div>
<section class="about-area" style="margin-top:15px;">

    <div class="container">

        <div class="row wow fadeIn">
            <div class="col-xs-12 text-center">
                <div class="page-title">
                    <h2 style="color:#0b2df8">सामान्य</h2>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 wow fadeInRight" data-wow-delay="0.6s" style="margin-top:-25px;">
                <div class="about-text">
                    <p style="text-align:justify">
                        08 अक्टूबर 1992 को असम राज्य से इस इकाई का मुख्यालय तथा 04 कंपनियॉ प्रतिनियुक्ति से वापसी पष्चात् 12 अक्टूबर 1992 को माना-कैम्प, जिला-रायपुर एकीकृत म.प्र. में स्थापित हुई।
                        पृथक छ.ग. राज्य होने के पष्चात् 01 नवंबर 2000 को म.प्र. से पृथक होकर राज्य शासन के आदेष क्रमांक-एफ-3-7/गृह/2001 रायपुर, दिनांक 03.05.2001 के तहत इस इकाई का क्रम
                        से नामांतरण किया जाकर 4थी वाहिनीछत्तीसगढ़ सषस्त्र बल माना, रायपुर किया गया है।
                        <br />
                        इस वाहिनी की ‘ए’ कंपनी वर्ष 1992 से उसूर, बिलासपुर, सल्हेवारा, कांकेर, अंतागढ, कोरबा, रायपुर, ओरछा, परपा, ‘बी’ कंपनी-पीटीसीबोरगांव, बीजापुर, दर्री,
                        अंतागढ़, रामगढ़, महासमुंद, नगरी, रूद्री, सिहावा, ‘सी’ कंपनी-भोपाल, चिन्तलनार, दल्लीराजहरा, डोंगरगढ़, मानपुर, रायपुर, राजनांदगांव, भोपाल, पखांजूर,
                        कांकेर, सुकमा, महासमुंद, रामगढ़, जगदलपुर, डीकंपनी-गोलापल्ली, रायपुर, राजनंदगांव, चिचोला, साल्हेवारा, अंतागढ़, पखांजूर, ओरछा, रायपुर, बयानार,
                        ईकंपनी-पीटीसीबोरगांव, सुकमा, पखांजूर, नारायणपुर, राणापाल, फरसगांव, एफ कंपनी-सुकमा, बिलासपुर, दुर्ग, जषपुर, साल्हेवारा, पु.मु. रायपुर, नारायणपुर में तैनात रही।
                    </p>
                </div>
            </div>
        </div>

    </div>

</section>

