
@{
    ViewBag.Title = "Martyrs";
    Layout = "~/Views/Shared/_LayoutHN.cshtml";
}
<div class="mainmenu-area">
    <div class="container">
        <div class="row">
            <div class="mainmenu">
                <div class="col-xs-12">
                    <nav class="navbar" id="navbar-example2">
                        <div class="navbar-header">
                            <button class="collapsed navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-example-js-navbar-scrollspy">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse bs-example-js-navbar-scrollspy">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="@Url.Action("Index","HomeHN")" title="होम">होम</a></li>
                                <li><a href="@Url.Action("ActsandRules", "HomeHN")" title="नियम अधिनियम">नियम अधिनियम</a></li>
                                <li><a href="@Url.Action("Gallery", "HomeHN")" title="फोटो गैलेरी">फोटो गैलेरी</a></li>
                                <li><a href="@Url.Action("Contact", "HomeHN")" title="संपर्क">संपर्क</a></li>
                                <li><a href="@Url.Action("WebsitePolicies", "HomeHN")" title="वेबसाइट नीति">वेबसाइट नीति</a></li>
                                <li>
                                    <a href="@Url.Action("Downloads", "HomeHN")" title="डाउनलोड">डाउनलोड </a>
                                </li>

                            </ul>
                        </div>
                    </nav>

                </div>
            </div>
        </div>
    </div>
</div>
<section class="blog-area section-padding" style="background-color:#e9e7e7">
    <div class="container">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-12  wow fadeIn" data-wow-delay="0.3s" style="margin-top:-60px;">
                <div class="sinlge-blog">

                    <a href="#" title="we call of thieves">
                        <h4>वाहिनी के अमर शहीद</h4>
                    </a>

                    <div class="meta-content">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead style="font-weight:bold;color:#906161">
                                    <tr>
                                        <td>स.क्र.</td>
                                        <td>पद</td>
                                        <td>बैज </td>
                                        <td>नाम</td>
                                        <td>घटना का विवरण </td>
                                        <td>अमर शहीद</td>
                                    </tr>

                                </thead>
                                <tbody>

                                    <tr>
                                        <td class="style25">
                                            1.
                                        </td>
                                        <td class="style25" style="font-weight:bold">
                                            प्रधान आरक्षक 
                                        </td>
                                        <td>68</td>
                                        <td style="color: #337ab7; font-weight: bold">राजेंद्र प्रसाद </td>
                                        <td>
                                            <p style="color:black; text-align:justify;font-family:Tahoma">
                                               	शहीद प्रधान आरक्षक राजेंद्र प्रसाद का जन्म 04 जुलाई 1974 को हुआ था |  वे पुलिस सेवा में 18 मई 1994 को आरक्षक के पद पर भर्ती हुए दिनांक 03 सितम्बर 2004
                                                को नक्सली मुठभेड़ में बहादुरी से लड़ते हुए प्रधान आरक्षक राजेंद्र प्रसाद वीरगति को प्राप्त हुए |
                                            </p>
                                        </td>
                                        <td style="width:200px;">
                                            <p style="text-align: center;" ><img src="~/images/Martys/1.png"/></p>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="style25">
                                            2.
                                        </td>
                                        <td class="style25" style="font-weight:bold">
                                            प्रधान आरक्षक 
                                        </td>
                                        <td>1049</td>
                                        <td style="color: #337ab7; font-weight: bold">अशोक कुमार   </td>
                                        <td>
                                            <p style="color:black; text-align:justify;font-family:Tahoma">
                                                शहीद प्रधान आरक्षक अशोक कुमार   का जन्म 12 अगस्त 1973  को हुआ था | वे पुलिस सेवा में 07 जनवरी  1998 को आरक्षक के पद पर भर्ती हुए | दिनांक 25 मई 2013
                                                 को कांग्रेस पार्टी के परिवर्तन यात्रा के वापसी के दौरान  जिला - जगदलपुर थाना दरी के झीरम घाटी में नक्सलियों द्वारा बारूदी सुरंग विस्फोट कर अंधाधुन फायरिंग की गयी जिसमे 
                                                  बहादुरी से लड़ते हुए प्रधान आरक्षक अशोक कुमार शहीद  हुए |
                                            </p>
                                        </td>
                                        <td style="width:200px;">
                                            <p style="text-align: center;"><img src="~/images/Martys/2.png" /></p>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="style25">
                                            3.
                                        </td>
                                        <td class="style25" style="font-weight:bold">
                                            प्रधान आरक्षक 
                                        </td>
                                        <td>419</td>
                                        <td style="color: #337ab7; font-weight: bold">इलिसियुस लकड़ा</td>
                                        <td>
                                            <p style="color:black; text-align:justify;font-family:Tahoma">
                                                3.)	शहीद प्रधान आरक्षक इलिसियुस लकड़ा का जन्म 24 सितम्बर 1952  को हुआ था | वे पुलिस सेवा में 07 जुलाई 1979 को आरक्षक के पद पर भर्ती हुए | दिनांक 
                                                14 अप्रैल  2004 को  नक्सलियों द्वारा  किये गए  बारूदी  विस्फोट में  प्रधान आरक्षक इलिसियुस लकड़ा वीरगति को प्राप्त हुए |
                                            </p>
                                        </td>
                                        <td style="width:200px;">
                                            <p style="text-align: center;"><img src="~/images/Martys/3.png" /></p>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="style25">
                                            4.
                                        </td>
                                        <td class="style25" style="font-weight:bold">
                                            प्रधान आरक्षक 
                                        </td>
                                        <td>31</td>
                                        <td style="color: #337ab7; font-weight: bold">शिवनारायण सिंग </td>
                                        <td>
                                            <p style="color:black; text-align:justify;font-family:Tahoma">
                                                शहीद प्रधान आरक्षक  शिवनारायण सिंग  का जन्म 10 अक्टूबर   1949  को हुआ था | वे पुलिस सेवा में 28 जुलाई  1971 को आरक्षक के पद पर भर्ती हुए |
                                                दिनांक 16 जनवरी  2007 को  झारागांव थाना छोटो डोंगर जिला नारायणपुर में नक्सलियों द्वारा बारूदी सुरंग विस्फोट कर अंधाधुन फायरिंग की गयी जिसमे
                                                 बहादुरी से लड़ते हुए  प्रधान आरक्षक  शिवनारायण सिंग  वीरगति को प्राप्त हुए |
                                            </p>
                                        </td>
                                        <td style="width:200px;">
                                            <p style="text-align: center;"><img src="~/images/Martys/4.png" /></p>
                                        </td>
                                    </tr>


                                    <tr>
                                        <td class="style25">
                                            5.
                                        </td>
                                        <td class="style25" style="font-weight:bold">
                                            आरक्षक
                                        </td>
                                        <td>65</td>
                                        <td style="color: #337ab7; font-weight: bold">चन्दर मरावी</td>
                                        <td>
                                            <p style="color:black; text-align:justify;font-family:Tahoma">
                                                शहीद आरक्षक  चन्दर मरावी  का जन्म 25 जुलाई 1969 को हुआ था | वे पुलिस सेवा में 23 जून 1993 को आरक्षक के पद पर भर्ती हुए |
                                                दिनांक 16 जनवरी  2007 को  झारागांव थाना छोटो डोंगर जिला नारायणपुर में नक्सलियों द्वारा बारूदी सुरंग विस्फोट कर अंधाधुन फायरिंग की गयी जिसमे
                                                बहादुरी से लड़ते हुए  प्रधान आरक्षक  चन्दर मरावी  वीरगति को प्राप्त हुए |
                                            </p>
                                        </td>
                                        <td style="width:200px;">
                                            <p style="text-align: center;"><img src="~/images/Martys/5.png" /></p>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="style25">
                                            6.
                                        </td>
                                        <td class="style25" style="font-weight:bold">
                                            आरक्षक
                                        </td>
                                        <td>559</td>
                                        <td style="color: #337ab7; font-weight: bold">खिलानंद साहू</td>
                                        <td>
                                            <p style="color:black; text-align:justify;font-family:Tahoma">
                                                शहीद  आरक्षक  खिलानंद साहू   का जन्म 09 मार्च 1975  को हुआ था | वे पुलिस सेवा में 06 जनवरी   1998 को आरक्षक के पद पर भर्ती हुए | 
                                                दिनांक 14 अप्रैल 2004 को  नक्सलियों द्वारा   किये गए  बारूदी  विस्फोट में   आरक्षक  खिलानंद साहू  वीरगति को प्राप्त हुए |
                                            </p>
                                        </td>
                                        <td style="width:200px;">
                                            <p style="text-align: center;"><img src="~/images/Martys/6.png" /></p>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="style25">
                                            7.
                                        </td>
                                        <td class="style25" style="font-weight:bold">
                                            आरक्षक
                                        </td>
                                        <td>448</td>
                                        <td style="color: #337ab7; font-weight: bold">ऋषिकेश विशाल</td>
                                        <td>
                                            <p style="color:black; text-align:justify;font-family:Tahoma">
                                                शहीद  आरक्षक  ऋषिकेश विशाल का जन्म 17 मार्च  1982  को हुआ था | वे पुलिस सेवा में 12 मई 2005 को आरक्षक के पद पर भर्ती हुए |
                                                 दिनांक 26 जुलाई 2010 को  नक्सली हमले में आरक्षक  ऋषिकेश विशाल  वीरगति को प्राप्त हुए |
                                            </p>
                                        </td>
                                        <td style="width:200px;">
                                            <p style="text-align: center;"><img src="~/images/Martys/7.png" /></p>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="style25">
                                            8.
                                        </td>
                                        <td class="style25" style="font-weight:bold">
                                            आरक्षक
                                        </td>
                                        <td>797</td>
                                        <td style="color: #337ab7; font-weight: bold">रतिराम सिन्हा</td>
                                        <td>
                                            <p style="color:black; text-align:justify;font-family:Tahoma">
                                                शहीद  आरक्षक  रतिराम सिन्हा  का जन्म 11 फरवरी   1984  को हुआ था |
                                                 वे पुलिस सेवा में 06 जनवरी  2007 को आरक्षक के पद पर भर्ती हुए |
                                                 दिनांक 25 जून 2008 को  नक्सली हमले में बहादुरी से लड़ते हुए आरक्षक  रतिराम सिन्हा  वीरगति को प्राप्त हुए |
                                            </p>
                                        </td>
                                        <td style="width:200px;">
                                            <p style="text-align: center;"><img src="~/images/Martys/8.png" /></p>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="style25">
                                            9.
                                        </td>
                                        <td class="style25" style="font-weight:bold">
                                            आरक्षक
                                        </td>
                                        <td>607</td>
                                        <td style="color: #337ab7; font-weight: bold">विजय यादव</td>
                                        <td>
                                            <p style="color:black; text-align:justify;font-family:Tahoma">
                                                शहीद  आरक्षक विजय यादव  का जन्म 07 अप्रैल  1972  को हुआ था |
                                                 वे पुलिस सेवा में 08 नवंबर  1994 को आरक्षक के पद पर भर्ती हुए | 
                                                दिनांक 25 जून 2008 को ओरछा मार्ग मडाली थाना ओरछा में नक्सलियों द्वारा घात लगाकर
                                                अंधाधुन फायरिंग की गयी   जिसमे  बहादुरी से लड़ते हुए आरक्षक  विजय यादव  वीरगति को प्राप्त हुए |

                                            </p>
                                        </td>
                                        <td style="width:200px;">
                                            <p style="text-align: center;"><img src="~/images/Martys/9.png" /></p>
                                        </td>
                                    </tr>

                                    

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</section>

