@{
    ViewBag.Title = "WebsitePolicies";
    Layout = "~/Views/Shared/_LayoutHN.cshtml";
}

<div class="mainmenu-area">
    <div class="container">
        <div class="row">
            <div class="mainmenu">
                <div class="col-xs-12">
                    <nav class="navbar" id="navbar-example2">
                        <div class="navbar-header">
                            <button class="collapsed navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-example-js-navbar-scrollspy">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse bs-example-js-navbar-scrollspy">
                            <ul class="nav navbar-nav">
                                <li><a href="@Url.Action("Index","HomeHN")" title="होम">होम</a></li>
                                <li><a href="@Url.Action("ActsandRules", "HomeHN")" title="नियम अधिनियम">नियम अधिनियम</a></li>
                                <li><a href="@Url.Action("Gallery", "HomeHN")" title="फोटो गैलेरी">फोटो गैलेरी</a></li>
                                <li ><a href="@Url.Action("Contact", "HomeHN")" title="संपर्क">संपर्क</a></li>
                                <li class="active"><a href="@Url.Action("WebsitePolicies", "HomeHN")" title="वेबसाइट नीति">वेबसाइट नीति</a></li>
                                <li>
                                    <a href="@Url.Action("Downloads", "HomeHN")" title="डाउनलोड">डाउनलोड </a>
                                </li>

                            </ul>
                        </div>
                    </nav>

                </div>
            </div>
        </div>
    </div>
</div>
<section class="about-area" style="margin-top:15px;">

    <div class="container">

        <div class="row wow fadeIn">
            <div class="col-xs-12 text-center">
                <div class="page-title">
                    <h2 style="color:#0b2df8">वेबसाइट नीति</h2>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 wow fadeInRight" data-wow-delay="0.6s" style="margin-top:-25px;">
                <div class="about-text">
                    <p style="text-align:justify">
                        उपयोग की शर्तें


                        4थी बटालियन छत्तीसगढ़ सशस्त्र बल माना रायपुर इस वेबसाइट की सामग्री का प्रबंधन कर रहा है। हालांकि इस वेबसाइट पर सामग्री की सटीकता सुनिश्चित करने के लिए सभी प्रयास किए गए हैं, हालांकि इसे कानून के एक साक्ष्य के रूप में नहीं समझा जाना चाहिए या किसी कानूनी उद्देश्यों के लिए उपयोग नहीं किया जाना चाहिए। इस पोर्टल के प्रत्यक्ष या अप्रत्यक्ष उपयोग से उत्पन्न होने वाले या डेटा के उपयोग से उत्पन्न होने वाली किसी भी घटना के तहत, 4थी बटालियन छत्तीसगढ़ सशस्त्र बल माना रायपुर बिना किसी सीमा के हानि या नुकसान के लिए पोर्टल उत्तरदायी नहीं होगा | इस पोर्टल पर शामिल अन्य वेबसाइटों के लिंक केवल सार्वजनिक सुविधा के लिए उपलब्ध कराए जाते हैं। हम हर समय ऐसे लिंक किए गए पृष्ठों की उपलब्धता की गारंटी नहीं दे सकते। इन नियमों और शर्तों को भारतीय कानूनों के अनुसार नियंत्रित किया जाएगा। इन नियमों और शर्तों के तहत उत्पन्न कोई भी विवाद भारत की अदालतों के अनन्य क्षेत्राधिकार के अधीन ही होगा।
                    </p>
                </div>
            </div>
        </div>



        <div class="row wow fadeIn">
            <div class="col-xs-12 text-center">
                <div class="page-title">
                    <h2 style="color:#0b2df8">
                        कॉपीराइट नीति 
                    </h2>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 wow fadeInRight" data-wow-delay="0.6s" style="margin-top:-25px;">
                <div class="about-text">
                    <p style="text-align:justify">
                        इस वेबसाइट पर विशेष रुप से प्रदर्शित सामग्री अगर आप व्यवहार में लाना चाहते हैं तो , इसके लिए हमें एक मेल भेजकर उचित अनुमति ले सकते हैं । इसके बाद ये सामग्री मुक्त हो सकती है। हालांकि ये ध्यान रहे कि सामग्री का सटीक रूप से पुन: प्रस्तुत किया जाना चाहिए और किसी अपमानजनक तरीके से या भ्रामक संदर्भ में उपयोग नहीं किया जाना चाहिए। जहाँ भी सामग्री प्रकाशित की जा रही हो या दूसरों को जारी की जाती हो, स्रोत को प्रमुख रूप से उल्लेख किया जाना चाहिए। हालांकि, ऐसी सामग्री को पुन: पेश करने की अनुमति नहीं दी जाएगी जो किसी तीसरे पक्ष के कॉपीराइट के रूप में पहचानी गई हो। ऐसी सामग्री को पुनरुत्पादन करने के लिए प्राधिकरण, संबंधित विभागों / कॉपीराइट धारकों से अनुमति होनी चाहिए।
                    </p>
                </div>
            </div>
        </div>

        <div class="row wow fadeIn">
            <div class="col-xs-12 text-center">
                <div class="page-title">
                    <h2 style="color:#0b2df8">
                        गोपनीयता नीति  
                    </h2>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 wow fadeInRight" data-wow-delay="0.6s" style="margin-top:-25px;">
                <div class="about-text">
                    <p style="text-align:justify">
                        यह वेबसाइट आपके द्वारा किसी भी विशिष्ट व्यक्तिगत जानकारी को स्वचालित रूप से कैप्चर नहीं करता है (जैसे कि नाम, फ़ोन नंबर, ई-मेल या पता) जो हमें आपको व्यक्तिगत रूप से पहचानने की अनुमति देता है | यदि वेबसाइट, आपसे व्यक्तिगत जानकारी प्रदान करने का अनुरोध करती है, तो आपको उन विशेष उद्देश्यों के लिए सूचित किया जाएगा जिनके लिए जानकारी इकट्ठा की जा रही है । आपकी व्यक्तिगत जानकारी की सुरक्षा के लिए फ़ीडबैक फॉर्म और पर्याप्त सुरक्षा उपायों का ख्याल रखा जाएगा। वेबसाइट की साइट पर किसी भी तीसरे पक्ष (सार्वजनिक / निजी) को हम व्यक्तिगत रूप से पहचाने जाने योग्य जानकारी बेचने या साझा नहीं करते हैं, इस वेबसाइट पर प्रदान की गई कोई भी जानकारी हानि, दुरुपयोग, अनधिकृत पहुंच या प्रकटीकरण, परिवर्तन से सुरक्षित होगी। हम उपयोगकर्ता के बारे में कुछ जानकारी इकट्ठा करते हैं, जैसे कि इंटरनेट प्रोटोकॉल (आईपी) पते, डोमेन नाम, ब्राउज़र का प्रकार, ऑपरेटिंग सिस्टम, विज़िट की तारीख और समय और विज़िट किए गए पृष्ठ। इन पतों को हमारी साइट पर आने वाले व्यक्तियों की पहचान के साथ लिंक करने का कोई प्रयास नहीं किया जाता, ये तब तक होता है जब तक कि उपयोगकर्ता द्वारा साइट को नुकसान पहुंचाने का प्रयास नहीं किया जाता है।
                    </p>
                </div>
            </div>
        </div>

        <br />

        <div class="row wow fadeIn">
            <div class="col-xs-12 text-center">
                <div class="page-title">
                    <h2 style="color:#0b2df8">
                        हाइपर - लिंकिंग पॉलिसी 
                    </h2>
                </div>
                <h4 style="margin-top:-30px;">Links to external websites/portals</h4>
            </div>
            <div class="col-xs-12 col-sm-12 wow fadeInRight" data-wow-delay="0.6s">
                <div class="about-text">
                    <p style="text-align:justify">
                        बाहरी वेबसाइटों / पोर्टल्स के लिए लिंक इस वेबसाइट में कई स्थानों पर आपको मिलेंगे। यह लिंक आपकी सुविधा के लिए रखा गया है। हालांकि हम यह गारंटी नहीं दे सकते कि ये लिंक हर समय काम करेंगे और लिंक किए गए पृष्ठों की उपलब्धता पर भी हमारा कोई नियंत्रण नहीं है।
                    </p>
                </div>
            </div>
        </div>





    </div>

</section>

