
@{
    ViewBag.Title = "ActsandRules";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="mainmenu-area">
    <div class="container">
        <div class="row">
            <div class="mainmenu">
                <div class="col-xs-12">
                    <nav class="navbar" id="navbar-example2">
                        <div class="navbar-header">
                            <button class="collapsed navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-example-js-navbar-scrollspy">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <div class="collapse navbar-collapse bs-example-js-navbar-scrollspy">
                            <ul class="nav navbar-nav">
                                <li ><a href="@Url.Action("Index","Home")" title="Home">HOME</a></li>
                                <li class="active"><a href="@Url.Action("ActsandRules", "Home")" title="Acts and Rules ">Acts and Rules </a></li>
                                <li><a href="@Url.Action("Gallery", "Home")" title="Photo Gallery">Photo Gallery</a></li>
                                <li><a href="@Url.Action("Contact", "Home")" title="Contact">Contact</a></li>
                                <li><a href="@Url.Action("WebsitePolicies", "Home")" title="Website Policies">Website Policies </a></li>
                                <li>
                                    <a href="@Url.Action("Downloads", "Home")" title="Downloads">Downloads</a>
                                </li>
                               
                            </ul>

                        </div>

                    </nav>

                </div>
            </div>
        </div>
    </div>
</div>

<section class="blog-area section-padding" style="background-color:#e9e7e7">
    <div class="container">
        <div class="row">
            
            <div class="col-xs-12 col-sm-12 col-md-12  wow fadeIn" data-wow-delay="0.3s" style="margin-top:-60px;">
                <div class="sinlge-blog">

                    <a href="#" title="we call of thieves">
                        <h4>This page is not available in English, please click on the below link to read in Hindi:</h4>
                    </a>

                    <div class="meta-content">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="style25"><strong>मध्यप्रदेश/छत्तीसगढ़ विशेष सशस्त्र बल अधिनियम-नियम</strong></th>

                                    </tr>
                                </thead>
                                <tbody>
                                    
                                    <tr>
                                        <td class="style25"><a class="style23" href="~/Documents/MPCGSpecialArmedForce1968.pdf" target="_blank">1-मध्यप्रदेश/छत्तीसगढ़ विशेष सशस्त्र बल अधिनियम-1968</a></td>
                                    </tr>
                                    <tr>
                                        <td class="style25"><a class="style23" href="~/Documents/MPCGSpecialArmedForceRule1973.pdf" target="_blank">2-मध्यप्रदेश/छत्तीसगढ़ विशेष सशस्त्र बल अधिनियम-1973</a></td>
                                    </tr>
                                    <tr>
                                        <td class="style25">
                                            <a class="style23" href="~/Documents/CAF%20Ordinance.pdf" target="_blank">
                                                3-छत्तीसगढ़ सहायक सशस्त्र पुलिस बल अध्यादेश-2011
                                            </a>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="style25"><a class="style23" href="~/Documents/AssistantConstableCAFAct2011.pdf" target="_blank">4-छत्तीसगढ़ सहायक सशस्त्र पुलिस बल अधिनियम-2011</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            
            

        </div>
    </div>
</section>


