@{
    ViewBag.Title = "CGBatalionDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="mainmenu-area">
    <div class="container">
        <div class="row">
            <div class="mainmenu">
                <div class="col-xs-12">
                    <nav class="navbar" id="navbar-example2">
                        <div class="navbar-header">
                            <button class="collapsed navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-example-js-navbar-scrollspy">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <div class="collapse navbar-collapse bs-example-js-navbar-scrollspy">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="@Url.Action("Index","Home")" title="Home">HOME</a></li>
                                <li><a href="@Url.Action("ActsandRules", "Home")" title="Acts and Rules ">Acts and Rules </a></li>
                                <li><a href="@Url.Action("Gallery", "Home")" title="Photo Gallery">Photo Gallery</a></li>
                                <li><a href="@Url.Action("Contact", "Home")" title="Contact">Contact</a></li>
                                <li><a href="@Url.Action("WebsitePolicies", "Home")" title="Website Policies">Website Policies </a></li>
                                <li>
                                    <a href="@Url.Action("Downloads", "Home")" title="Downloads">Downloads</a>
                                </li>
                                
                            </ul>

                        </div>

                    </nav>

                </div>
            </div>
        </div>
    </div>
</div>
<section class="blog-area section-padding" style="background-color:#e9e7e7">
    <div class="container">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-12  wow fadeIn" data-wow-delay="0.3s" style="margin-top:-60px;">
                <div class="sinlge-blog">

                    <a href="#" title="we call of thieves">
                        <h4>Information of CAF Battalions</h4>
                    </a>

                    <div class="meta-content">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead style="font-weight:bold;color:#906161">
                                    <tr>
                                        <td>S.NO.</td>
                                        <td>Battalions</td>
                                        <td>STD CODE</td>
                                        <td>PHONE (O)</td>
                                        <td>Commandant's CUG NO</td>
                                        <td>DDO Code</td>
                                    </tr>

                                </thead>
                                <tbody>

                                    <tr>
                                        <td class="style25">
                                            1.
                                        </td>
                                        <td class="style25">
                                            <span style="color: #337ab7">  1St Bn.CAF Bhilai Distt Durg</span>
                                        </td>
                                        <td class="style25">
                                            0788
                                        </td>
                                        <td class="style25">
                                            2293743
                                        </td>
                                        <td class="style25">
                                            94791-90810
                                        </td>
                                        <td>1002003</td>
                                    </tr>

                                    <tr>
                                        <td>2.</td>
                                        <td style="color: #337ab7">2nd Bn CAF Sakri Distt Bilaspur</td>
                                        <td>07752</td>
                                        <td>283319</td>
                                        <td>94791-90820</td>
                                        <td>0702006</td>
                                    </tr>

                                    <tr>
                                        <td>3.</td>
                                        <td style="color: #337ab7">3rd Bn CAF Amleshwar,Distt Durg</td>
                                        <td>0771</td>
                                        <td>-</td>
                                        <td>94791-90830</td>
                                        <td>1102014</td>
                                    </tr>

                                    <tr>
                                        <td>4.</td>
                                        <td style="color: #337ab7">4th Bn CAF Mana Distt Raipur</td>
                                        <td>0771</td>
                                        <td>
                                            2418504, 
                                            2418079
                                        </td>
                                        <td>94791-90840</td>
                                        <td>6602006</td>
                                    </tr>

                                    <tr>
                                        <td>5.</td>
                                        <td style="color: #337ab7">5th Bn CAF Jagdalpur Distt Bastar</td>
                                        <td>07782</td>
                                        <td>222610</td>
                                        <td>94791-90850</td>
                                        <td>1502003</td>
                                    </tr>

                                    <tr>
                                        <td>6.</td>
                                        <td style="color: #337ab7">6th Bn CAF Raigarh Distt Raigarh</td>
                                        <td>07762</td>
                                        <td>232480</td>
                                        <td>94791-90860</td>
                                        <td>0402002</td>
                                    </tr>

                                    <tr>
                                        <td>7.</td>
                                        <td style="color: #337ab7">7th Bn CAF Bhilai Distt Durg</td>
                                        <td>0788</td>
                                        <td>2293742</td>
                                        <td>94791-90870</td>
                                        <td>1002004</td>
                                    </tr>

                                    <tr>
                                        <td>8.</td>
                                        <td style="color: #337ab7">8Th Bn CAF Rajnadgaon Distt Rajnadgaon</td>
                                        <td>07744</td>
                                        <td>291430</td>
                                        <td>94791-90880</td>
                                        <td>0902007</td>
                                    </tr>

                                    <tr>
                                        <td>9.</td>
                                        <td style="color: #337ab7">9Th Bn CAF Karli Distt Dantewada</td>
                                        <td>07856</td>
                                        <td>202043</td>
                                        <td>94791-90890</td>
                                        <td>1602005</td>
                                    </tr>

                                    <tr>
                                        <td>10.</td>
                                        <td style="color: #337ab7">10Th Bn CAF Surajpur Distt Surajpur</td>
                                        <td>07775</td>
                                        <td>2296480</td>
                                        <td>94791-92007</td>
                                        <td>2702002</td>
                                    </tr>

                                    <tr>
                                        <td>11.</td>
                                        <td style="color: #337ab7">11Th Bn CAF Janjgir Distt Janjgir-Champa</td>
                                        <td>07817</td>
                                        <td>200410</td>
                                        <td>94791-90910</td>
                                        <td>0602004</td>
                                    </tr>

                                    <tr>
                                        <td>12.</td>
                                        <td style="color: #337ab7">12Th Bn CAF Ramanujganj Distt Balrampur</td>
                                        <td>07779</td>
                                        <td>276066</td>
                                        <td>94791-90920</td>
                                        <td>2602002</td>
                                    </tr>

                                    <tr>
                                        <td>13.</td>
                                        <td style="color: #337ab7">13Th Bn CAF Bango Distt Korba</td>
                                        <td>07810</td>
                                        <td>273446</td>
                                        <td>94791-27346</td>
                                        <td>0502010</td>
                                    </tr>

                                    <tr>
                                        <td>14.</td>
                                        <td style="color: #337ab7">14Th Bn CAF DalliRajhra Distt Balod</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>94791-90045</td>
                                        <td>2202004</td>
                                    </tr>

                                    <tr>
                                        <td>15.</td>
                                        <td style="color: #337ab7">15Th Bn CAF Bijapur Distt Bijapur</td>
                                        <td>07853</td>
                                        <td>220351</td>
                                        <td>-</td>
                                        <td>1802004</td>
                                    </tr>

                                    <tr>
                                        <td>16.</td>
                                        <td style="color: #337ab7">16Th Bn CAF Narynpur Distt Naryanpur</td>
                                        <td>07781</td>
                                        <td>252931</td>
                                        <td>94791-90960</td>
                                        <td>1702003</td>
                                    </tr>

                                    <tr>
                                        <td>17.</td>
                                        <td style="color: #337ab7">17Th Bn CAF Kabirdahm Dsitt Kawardha</td>
                                        <td>07741</td>
                                        <td>
                                            233303,
                                            233304
                                        </td>
                                        <td>94791-90680</td>
                                        <td>0802004</td>
                                    </tr>

                                    <tr>
                                        <td>18.</td>
                                        <td style="color: #337ab7">18Th Bn CAF Manendragarh Distt Koriya</td>
                                        <td>07836</td>
                                        <td>233351</td>
                                        <td>94791-91210</td>
                                        <td>0102005</td>
                                    </tr>

                                    <tr>
                                        <td>19.</td>
                                        <td style="color: #337ab7">19Th Bn CAF (India Reserve) Jagdalpur Distt Bastar</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>1502012</td>

                                    <tr>
                                        <td>20.</td>
                                        <td style="color: #337ab7">20Th Bn CAF (India Reserve) Mahasmund Distt Mahasmund</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>1202003</td>
                                    </tr>

                                    <tr>
                                        <td>21.</td>
                                        <td style="color: #337ab7">21Th Bn CAF (India Reserve) Balod Distt Balod</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>2202005</td>
                                    </tr>

                                    <tr>
                                        <td>22.</td>
                                        <td style="color: #337ab7">22Th Bn CAF (India Reserve) Kanker Distt Kanker</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>1402006</td>
                                    </tr>








                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</section>



