
@{
    ViewBag.Title = "CommandantList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="mainmenu-area">
    <div class="container">
        <div class="row">
            <div class="mainmenu">
                <div class="col-xs-12">
                    <nav class="navbar" id="navbar-example2">
                        <div class="navbar-header">
                            <button class="collapsed navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-example-js-navbar-scrollspy">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <div class="collapse navbar-collapse bs-example-js-navbar-scrollspy">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="@Url.Action("Index","Home")" title="Home">HOME</a></li>
                                <li><a href="@Url.Action("ActsandRules", "Home")" title="Acts and Rules ">Acts and Rules </a></li>
                                <li><a href="@Url.Action("Gallery", "Home")" title="Photo Gallery">Photo Gallery</a></li>
                                <li><a href="@Url.Action("Contact", "Home")" title="Contact">Contact</a></li>
                                <li><a href="@Url.Action("WebsitePolicies", "Home")" title="Website Policies">Website Policies </a></li>
                                <li>
                                    <a href="@Url.Action("Downloads", "Home")" title="Downloads">Downloads</a>
                                </li>
                                
                            </ul>

                        </div>

                    </nav>

                </div>
            </div>
        </div>
    </div>
</div>
<section class="blog-area section-padding" style="background-color:#e9e7e7">
    <div class="container">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-12  wow fadeIn" data-wow-delay="0.3s" style="margin-top:-60px;">
                <div class="sinlge-blog">

                    <a href="#" title="we call of thieves">
                        <h4>Commandant List Of 4th Battalion</h4>
                    </a>

                    <div class="meta-content">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead style="font-weight:bold;color:#906161">
                                    <tr>
                                        <td>S.NO.</td>
                                        <td>Name Of Commandant</td>
                                        <td style="text-align:center">From </td>
                                        <td style="text-align:center">To </td>
                                    </tr>

                                </thead>
                                <tbody>

                                    <tr>
                                        <td class="style25">
                                            1.
                                        </td>
                                        <td class="style25">
                                            <span style="color: #337ab7; font-weight: bold"> Shri P. S. Thakur, IPS </span>
                                        </td>
                                        <td style="text-align:center">01-11-2000</td>
                                        <td style="text-align:center">13-12-2000</td>
                                    </tr>

                                    <tr>
                                        <td>2.</td>
                                        <td style="color: #337ab7; font-weight: bold">Shri S. W. Naqvi, IPS </td>
                                        <td style="text-align:center">20-12-2000</td>
                                        <td style="text-align:center">09-04-2002</td>
                                    </tr>

                                    <tr>
                                        <td>3.</td>
                                        <td style="color: #337ab7; font-weight: bold">Shri Rajesh Mishra, IPS</td>
                                        <td style="text-align:center">09-04-2002</td>
                                        <td style="text-align:center">27-06-2002</td>
                                    </tr>

                                    <tr>
                                        <td>4.</td>
                                        <td style="color: #337ab7; font-weight: bold">Shri N.P. Tiwari, IPS </td>
                                        <td style="text-align:center">28-06-2002</td>
                                        <td style="text-align:center">25-11-2002</td>
                                    </tr>

                                    <tr>
                                        <td>5.</td>
                                        <td style="color: #337ab7; font-weight: bold">Shri M.S. Tomar, IPS</td>
                                        <td style="text-align:center">25-11-2002</td>
                                        <td style="text-align:center">15-12-2002</td>
                                    </tr>

                                    <tr>
                                        <td>6.</td>
                                        <td style="color: #337ab7;font-weight:bold">Shri J.P. Singh, IPS</td>
                                        <td style="text-align:center">19-12-2003</td>
                                        <td style="text-align:center">06-04-2004</td>
                                    </tr>


                                    <tr>
                                        <td class="style25">
                                            7.
                                        </td>
                                        <td class="style25">
                                            <span style="color: #337ab7; font-weight: bold"> Shri M.P. Chaudhary, IPS</span>
                                        </td>
                                        <td style="text-align:center">07-04-2004</td>
                                        <td style="text-align:center">25-06-2007</td>
                                    </tr>

                                    <tr>
                                        <td>8.</td>
                                        <td style="color: #337ab7; font-weight: bold">Shri B.P.S. Pausharya, IPS</td>
                                        <td style="text-align:center">28-06-2007</td>
                                        <td style="text-align:center">29-06-2009</td>
                                    </tr>

                                    <tr>
                                        <td>9.</td>
                                        <td style="color: #337ab7; font-weight: bold">Shri OmPrakash, IPS</td>
                                        <td style="text-align:center">29-06-2009</td>
                                        <td style="text-align:center">30-11-2010</td>
                                    </tr>

                                    <tr>
                                        <td>10.</td>
                                        <td style="color: #337ab7; font-weight: bold">Shri N.K.S, IPS </td>
                                        <td style="text-align:center">13-12-2010</td>
                                        <td style="text-align:center">01-09-2012</td>
                                    </tr>

                                    <tr>
                                        <td>11.</td>
                                        <td style="color: #337ab7; font-weight: bold">Smt NeetuKamal, IPS</td>
                                        <td style="text-align:center">09-01-2012</td>
                                        <td style="text-align:center">18-02-2013</td>
                                    </tr>

                                    <tr>
                                        <td>12.</td>
                                        <td style="color: #337ab7;font-weight:bold">Shri Praveer Kumar Das, IPS</td>
                                        <td style="text-align:center">20-02-2013</td>
                                        <td style="text-align:center">30-01-2004</td>
                                    </tr>


                                    <tr>
                                        <td class="style25">
                                            13.
                                        </td>
                                        <td class="style25">
                                            <span style="color: #337ab7; font-weight: bold"> Shri RatanLal Dangi, IPS</span>
                                        </td>
                                        <td style="text-align:center">14-03-2014</td>
                                        <td style="text-align:center">23-01-2017</td>
                                    </tr>

                                    <tr>
                                        <td>14.</td>
                                        <td style="color: #337ab7; font-weight: bold">Shri B. S. Dhruva, IPS</td>
                                        <td style="text-align:center">13-02-2017</td>
                                        <td style="text-align:center">18-05-2018</td>
                                    </tr>

                                    <tr>
                                        <td>15.</td>
                                        <td style="color: #337ab7; font-weight: bold">Shri Goverdhan Thakur, IPS</td>
                                        <td style="text-align:center">18-05-2018</td>
                                        <td style="text-align:center">25-02-2019</td>
                                    </tr>

                                    <tr>
                                        <td>16.</td>
                                        <td style="color: #337ab7; font-weight: bold">Shri Ramkrishna Sahu, IPS</td>
                                        <td style="text-align:center">28-02-2019</td>
                                        <td style="text-align:center">Present</td>
                                    </tr>

                                   





                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</section>

