
@{
    ViewBag.Title = "CompanyDeployment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="mainmenu-area">
    <div class="container">
        <div class="row">
            <div class="mainmenu">
                <div class="col-xs-12">
                    <nav class="navbar" id="navbar-example2">
                        <div class="navbar-header">
                            <button class="collapsed navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-example-js-navbar-scrollspy">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <div class="collapse navbar-collapse bs-example-js-navbar-scrollspy">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="@Url.Action("Index","Home")" title="Home">HOME</a></li>
                                <li><a href="@Url.Action("ActsandRules", "Home")" title="Acts and Rules ">Acts and Rules </a></li>
                                <li><a href="@Url.Action("Gallery", "Home")" title="Photo Gallery">Photo Gallery</a></li>
                                <li><a href="@Url.Action("Contact", "Home")" title="Contact">Contact</a></li>
                                <li><a href="@Url.Action("WebsitePolicies", "Home")" title="Website Policies">Website Policies </a></li>
                                <li>
                                    <a href="@Url.Action("Downloads", "Home")" title="Downloads">Downloads</a>
                                </li>
                               
                            </ul>

                        </div>

                    </nav>

                </div>
            </div>
        </div>
    </div>
</div>
<section class="blog-area section-padding" style="background-color:#e9e7e7">
    <div class="container">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-12  wow fadeIn" data-wow-delay="0.3s" style="margin-top:-60px;">
                <div class="sinlge-blog">

                    <a href="#" title="we call of thieves">
                        <h4>Deployment of Company</h4>
                    </a>

                    <div class="meta-content">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead style="font-weight:bold;color:#906161">
                                    <tr>
                                        <td>S.NO.</td>
                                        <td>Name Of Company</td>
                                        <td>Deployed Place</td>
                                    </tr>

                                </thead>
                                <tbody>

                                    <tr>
                                        <td class="style25">
                                            1.
                                        </td>
                                        <td class="style25">
                                            <span style="color: #337ab7; font-weight: bold"> 'A'  Company</span>
                                        </td>
                                      
                                        <td>Jaitaloor, Bijapur</td>
                                    </tr>

                                    <tr>
                                        <td>2.</td>
                                        <td style="color: #337ab7; font-weight: bold">'B'  Company</td>
                                        <td>Puspal, Sukma</td>
                                        
                                    </tr>

                                    <tr>
                                        <td>3.</td>
                                        <td style="color: #337ab7; font-weight: bold">'C'  Company</td>
                                        <td>SitaNadi, Dhamtari</td>
                                        
                                    </tr>

                                    <tr>
                                        <td>4.</td>
                                        <td style="color: #337ab7; font-weight: bold">'D'  Company</td>
                                        <td>4th Battalion Mana, Raipur</td>
                                       
                                    </tr>

                                    <tr>
                                        <td>5.</td>
                                        <td style="color: #337ab7; font-weight: bold">'E'  Company</td>
                                        <td>Police Line, Mahasamundra</td>
                                        
                                    </tr>

                                    <tr>
                                        <td>6.</td>
                                        <td style="color: #337ab7;font-weight:bold">'F'  Company</td>
                                        <td>Pamed, Bijapur</td>
                                        
                                    </tr>

                               







                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</section>

