@{
    ViewBag.Title = "DisttPoliceWebsite";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="mainmenu-area">
    <div class="container">
        <div class="row">
            <div class="mainmenu">
                <div class="col-xs-12">
                    <nav class="navbar" id="navbar-example2">
                        <div class="navbar-header">
                            <button class="collapsed navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-example-js-navbar-scrollspy">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <div class="collapse navbar-collapse bs-example-js-navbar-scrollspy">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="@Url.Action("Index","Home")" title="Home">HOME</a></li>
                                <li><a href="@Url.Action("ActsandRules", "Home")" title="Acts and Rules ">Acts and Rules </a></li>
                                <li><a href="@Url.Action("Gallery", "Home")" title="Photo Gallery">Photo Gallery</a></li>
                                <li><a href="@Url.Action("Contact", "Home")" title="Contact">Contact</a></li>
                                <li><a href="@Url.Action("WebsitePolicies", "Home")" title="Website Policies">Website Policies </a></li>
                                <li>
                                    <a href="@Url.Action("Downloads", "Home")" title="Downloads">Downloads</a>
                                </li>
                              
                            </ul>

                        </div>

                    </nav>

                </div>
            </div>
        </div>
    </div>
</div>
<section class="blog-area section-padding" style="background-color:#e9e7e7">
    <div class="container">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-12  wow fadeIn" data-wow-delay="0.3s" style="margin-top:-60px;">
                <div class="sinlge-blog">

                    <a href="#" title="we call of thieves">
                        <h4>Contact Us:</h4>
                    </a>

                    <div class="meta-content">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>

                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="style25">
                                            <a href="http://balodpolice.cg.gov.in/" target="_blank">
                                                <span class="style38">Balod</span>
                                            </a>
                                        </td>
                                    </tr>
                                   
                                    <tr>
                                        <td class="style25">
                                            <a href="http://www.balodabazarpolice.in/" class="style38">BalodaBazar Bhatapara</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="style25">
                                            <a href="http://www.cgpolicebalrampur.in/" class="style38">Balrampur</a>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="style25">
                                            <a href="http://www.spbastar.com/" class="style38">Bastar</a>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="style25">
                                            <a href="http://www.bemetarapolice.cg.gov.in/" class="style38">Bemetara</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="style25">
                                            <a href="http://bijapurpolice.cg.gov.in/" class="style38">Bijapur</a>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="style25">
                                            <a href="http://districtpolice.bilaspur.gov.in/" class="style38">Bilaspur</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="style25">
                                            <a href="http://www.dantewadapolice.in/" class="style38">Dantewada</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="style25">
                                            <a href="http://cg.nic.in/Dhamtari/police/" class="style38">Dhamtari</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="style25">
                                            <a href="http://durgpolice.cg.gov.in/" class="style38">Durg</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="style25">
                                            <a href="http://www.gariabandpolice.cg.gov.in/" class="style38">Gariaband</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="style25">
                                            <a href="http://ww17.janjgirchampapolice.com/" class="style38">Janjgir-Champa</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="style25">
                                            <a href="http://www.cg.nic.in/jashpur/police/" class="style38">Jashpur</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="style25">
                                            <a href="http://kabirdhampolice.nic.in/" class="style38">Kabirdham</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="style25">
                                            <a href="http://kankerpolice.bhartiinfo.com/" class="style38">Kanker</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="style25">
                                            <a href="http://www.kondagaonpolice.cg.gov.in/" class="style38">Kondagaon</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="style25">
                                            <a href="http://korbapolice.cg.gov.in/" class="style38">Korba</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="style25">
                                            <a href="http://www.cgpolicekorea.in/" class="style38">Koriya</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="style25">
                                            <a href="http://cg.nic.in/mahasamundpolice/" class="style38">Mahasamund</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="style25">
                                            <a href="http://www.mungelipolice.cg.gov.in/" class="style38">Mungeli</a>
                                        </td>
                                    </tr>
                                <tr>
                                    <td class="style25">
                                        <a href="http://www.narayanpurpolice.in/" class="style38">Narayanpur</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="style25">
                                        <a href="http://www.raigarhpolice.com/" class="style38">Raigarh</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="style25">
                                        <a href="http://raipurpolice.cgstate.gov.in/" class="style38">Raipur</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="style25">
                                        <a href="http://rajnandgaonpolice.cg.gov.in/" class="style38">Rajnandgaon</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="style25">
                                        <a href="http://sukmapolice.in/" class="style38">Sukma</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="style25">
                                        <a href="https://surajpurpolice.blogspot.com/" class="style38">Surajpur</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="style25">
                                        <a href="http://cg.nic.in/surguja/police/" class="style38">Surguja</a>
                                    </td>





                                </tr>


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</section>

