@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="mainmenu-area">
    <div class="container">
        <div class="row">
            <div class="mainmenu">
                <div class="col-xs-12">
                    <nav class="navbar" id="navbar-example2">
                        <div class="navbar-header">
                            <button class="collapsed navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-example-js-navbar-scrollspy">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <div class="collapse navbar-collapse bs-example-js-navbar-scrollspy">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="@Url.Action("Index","Home")" title="Home">HOME</a></li>
                                <li><a href="@Url.Action("ActsandRules", "Home")" title="Acts and Rules ">Acts and Rules </a></li>
                                <li><a href="@Url.Action("Gallery", "Home")" title="Photo Gallery">Photo Gallery</a></li>
                                <li><a href="@Url.Action("Contact", "Home")" title="Contact">Contact</a></li>
                                <li><a href="@Url.Action("WebsitePolicies", "Home")" title="Website Policies">Website Policies </a></li>
                                <li>
                                    <a href="@Url.Action("Downloads", "Home")" title="Downloads">Downloads</a>
                                </li>
                               
                            </ul>

                        </div>

                    </nav>

                </div>
            </div>
        </div>
    </div>
</div>
<section class="about-area" style="margin-top:15px;">

    <div class="container">

        <div class="row wow fadeIn">
            <div class="col-xs-12 text-center">
                <div class="page-title">
                    <h2 style="color:#0b2df8">Battalion History</h2>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 wow fadeInRight" data-wow-delay="0.6s" style="margin-top:-25px;">
                <div class="about-text">
                    <p style="text-align: justify; color: black">
                        With the intention of overcoming the lack of force in the internal law
                        and order of the integrated Madhya Pradesh state, the approval of the
                        22nd Special Armed Forces under the Madhya Pradesh Police
                        Force, ADM-MP of Madhya Pradesh Government Home Police
                        Department. Government / Home / Police / 4256-3628 / P.B. (P.P.)
                        Bhopal, dated 24.11.1966 and at the Police Headquarters, Bhopal.
                    </p>
                    <p style="text-align: justify; color: black">
                        On
                        01.12.1966 in the light of the capital city of Bhopal, on November 01,
                        1966, according to the order number 3232-Do-B (13), Bhopal, dated
                        07.12.1971, this unit was declared as the unit from 01.11.1971 (Pt.
                        This unit has been an important contributor to the freedom of the East
                        Pakistan as a liberation girl in Silchar, a border region of the state of
                        Assam during the Indo-Pak War of 1971. Located &quot;Dhana&quot;, District-
                        Sagar, in the central region, the prisoners would be kept in a temporary
                        camp.
                    </p>


                    <p style="text-align: justify; color: black">
                        Whose security was conducted by the unit for almost 03 years. This unit
                        was held in Kerala state and Lakshdweep from the year of March 1985
                        to the year 1992 from the year 1992 and 04 companies were organized in
                        the various districts of the A, C, D and F company respectively.
                        02 Company: B &amp; Y 2000 till the time the capital city of the
                        Lakshadrakendra Union Territory, Kavaratitha and Anroth Islands have
                        been assigned important duties in the island islands. I installed.
                    </p>

                    <p style="text-align:justify;color:black">
                        Separate cg After becoming a state, on 01 November 2000, M.P.
                        Separate from State Government Order No.-F-3-7 / Home / 2001,
                        Raipur, dated 03.05.2001, the name of the unit was changed from 4th to
                        4th, Chhattisgarh was considered to be a armed force, Raipur mana.
                       
                    </p>

                    <p style="text-align:justify;color:black">
                       This Armed Force&#39;s A &#39;Company since 1992; Usur, Bilaspur, Salhewara, Kanker,
                        Antagarh, Korba, Raipur, Orchha, Parapa,&#39; B &#39;Company- PTC Borgaon,
                        Bijapur, Darri, Antagarh, Ramgarh, Mahasamund, Nagri, Rudri,
                        Sihawa,&#39; C. Company- Bhopal, Chintalnar, Dallirajhara, Dongargarh,
                        Manpur, Raipur, Rajnandgaon, Bhopal, Pakhanjur, Kanker, Sukma,
                        Mahasamund, Ramgarh, Jagdalpur, Decompany-Golapalli, Raipur,
                        Rajnandgaon, Chichola, Salhewara, Antagarh, Pakhanjur, Orchha,
                        Raipur, Bayanar, EC-PTCBorgaon, Sukma, Pakhanjur, Narayanpur,
                        Ranapal, Farsgaon, F Company-Sukma, Bilaspur, Durg, Jashpur,
                        Salhewara, P.M. Raipur, Narayanpur.
                    </p>

                </div>
            </div>
        </div>












    </div>

</section>

