
@{
    ViewBag.Title = "Martyrs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="mainmenu-area">
    <div class="container">
        <div class="row">
            <div class="mainmenu">
                <div class="col-xs-12">
                    <nav class="navbar" id="navbar-example2">
                        <div class="navbar-header">
                            <button class="collapsed navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-example-js-navbar-scrollspy">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <div class="collapse navbar-collapse bs-example-js-navbar-scrollspy">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="@Url.Action("Index","Home")" title="Home">HOME</a></li>
                                <li><a href="@Url.Action("ActsandRules", "Home")" title="Acts and Rules ">Acts and Rules </a></li>
                                <li><a href="@Url.Action("Gallery", "Home")" title="Photo Gallery">Photo Gallery</a></li>
                                <li><a href="@Url.Action("Contact", "Home")" title="Contact">Contact</a></li>
                                <li><a href="@Url.Action("WebsitePolicies", "Home")" title="Website Policies">Website Policies </a></li>
                                <li>
                                    <a href="@Url.Action("Downloads", "Home")" title="Downloads">Downloads</a>
                                </li>
                               
                            </ul>

                        </div>

                    </nav>

                </div>
            </div>
        </div>
    </div>
</div>
<section class="blog-area section-padding" style="background-color:#e9e7e7">
    <div class="container">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-12  wow fadeIn" data-wow-delay="0.3s" style="margin-top:-60px;">
                <div class="sinlge-blog">

                    <a href="#" title="we call of thieves">
                        <h4>Martyrs Of 4th Battalion</h4>
                    </a>

                    <div class="meta-content">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead style="font-weight:bold;color:#906161">
                                    <tr>
                                        <td>S.NO.</td>
                                        <td>Post</td>
                                        <td>Badge </td>
                                        <td>Name</td>
                                        <td>Detail Of Incident</td>
                                        <td>Image</td>
                                    </tr>

                                </thead>
                                <tbody>

                                    <tr>
                                        <td class="style25">
                                            1.
                                        </td>
                                        <td class="style25" style="font-weight:bold">
                                            Head Constable
                                        </td>
                                        <td>68</td>
                                        <td style="color: #337ab7; font-weight: bold">Rajendra Prasad</td>
                                        <td>
                                            <p style="color:black; text-align:justify;font-family:Tahoma">
                                                Martyr Head Constable Rajendra Prasad was born on 04 July 197. He was recruited in the police service
                                                as a constable on 18 May 1994. On 03 September 2004, while fighting bravely in a Naxal encounter,
                                                head constable Rajendra Prasad received Veeragati.
                                            </p>
                                        </td>
                                        <td style="width:200px;">
                                            <p style="text-align: center;" ><img src="~/images/Martys/1.png"/></p>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="style25">
                                            2.
                                        </td>
                                        <td class="style25" style="font-weight:bold">
                                            Head Constable
                                        </td>
                                        <td>1049</td>
                                        <td style="color: #337ab7; font-weight: bold">Ashok Kumar</td>
                                        <td>
                                            <p style="color:black; text-align:justify;font-family:Tahoma">
                                                Martyr Head Constable Ashok Kumar was born on 12 August 1973. He was admitted to the police service on 07 January 1998 as the constable.
                                                During the return of Parivartan Yatra of Congress Party on 25 May 2013, indiscriminate firing was carried out by Naxals in Jheram Valley of
                                                District - Jagdalpur police station, in which a landmine exploded
                                                Chief constable Ashok Kumar martyred while fighting bravely.
                                            </p>
                                        </td>
                                        <td style="width:200px;">
                                            <p style="text-align: center;"><img src="~/images/Martys/2.png" /></p>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="style25">
                                            3.
                                        </td>
                                        <td class="style25" style="font-weight:bold">
                                            Head Constable
                                        </td>
                                        <td>419</td>
                                        <td style="color: #337ab7; font-weight: bold">Ilysius Lakda</td>
                                        <td>
                                            <p style="color:black; text-align:justify;font-family:Tahoma">
                                                Martyr head constable Ilysius Lakra was born on 24 september 1952. He was recruited in the police service as
                                                constable on 07 july 1979. On 14 April 2004, in the landmine blast by Naxalites, Principal constable Ashok Kumar
                                                received Veeragati.
                                            </p>
                                        </td>
                                        <td style="width:200px;">
                                            <p style="text-align: center;"><img src="~/images/Martys/3.png" /></p>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="style25">
                                            4.
                                        </td>
                                        <td class="style25" style="font-weight:bold">
                                            Head Constable
                                        </td>
                                        <td>31</td>
                                        <td style="color: #337ab7; font-weight: bold">Shivnarayan Singh</td>
                                        <td>
                                            <p style="color:black; text-align:justify;font-family:Tahoma">
                                                Martyr head constable Shivnarayan Sing was born on 10 October 1949. He was admitted to the police service on 28 July 1971 as the constable.
                                                Dated 16 January 2007 at Jharagaon Police Station Chhotu Dongar District Narayanpur
                                                Blindfighting was carried out by the Naxalites in a landmine blast while fighting bravely
                                                Principal constable Shivnarayan Sing received Veeragati.
                                            </p>
                                        </td>
                                        <td style="width:200px;">
                                            <p style="text-align: center;"><img src="~/images/Martys/4.png" /></p>
                                        </td>
                                    </tr>


                                    <tr>
                                        <td class="style25">
                                            5.
                                        </td>
                                        <td class="style25" style="font-weight:bold">
                                            Constable
                                        </td>
                                        <td>65</td>
                                        <td style="color: #337ab7; font-weight: bold">Chandar Maravi</td>
                                        <td>
                                            <p style="color:black; text-align:justify;font-family:Tahoma">
                                                Martyr constable Chandar Maravi was born on 25 July 1969. He was admitted to the police service on 23 June 1993 as the constable.
                                                Dated 16 January 2007 at Jharagaon Police Station Chhotu Dongar District Narayanpur
                                                Blindfighting was carried out by the Naxalites in a landmine blast while fighting bravely
                                                 constable Chandar Maravi received Veeragati.
                                            </p>
                                        </td>
                                        <td style="width:200px;">
                                            <p style="text-align: center;"><img src="~/images/Martys/5.png" /></p>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="style25">
                                            6.
                                        </td>
                                        <td class="style25" style="font-weight:bold">
                                            Constable
                                        </td>
                                        <td>559</td>
                                        <td style="color: #337ab7; font-weight: bold">Khilanand Sahu</td>
                                        <td>
                                            <p style="color:black; text-align:justify;font-family:Tahoma">
                                                Martyr constable Khilanand Sahu was born on 09 March 1975. He was recruited in the
                                                police service on 06 January 1998 as constable.
                                                On 14 April 2004, in the landmine blast by Naxalites, constable Khilanand Sahu received Veeragati.
                                            </p>
                                        </td>
                                        <td style="width:200px;">
                                            <p style="text-align: center;"><img src="~/images/Martys/6.png" /></p>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="style25">
                                            7.
                                        </td>
                                        <td class="style25" style="font-weight:bold">
                                            Constable
                                        </td>
                                        <td>448</td>
                                        <td style="color: #337ab7; font-weight: bold">Rishikesh Vishal</td>
                                        <td>
                                            <p style="color:black; text-align:justify;font-family:Tahoma">
                                                Martyr constable Rishikesh Vishal was born on 17 March 1982. He was recruited in the police service as constable
                                                on 12 May 2005. On26 July 2010, in the Naxalite attack, constable Rishikesh Vishal received Veeragati.
                                            </p>
                                        </td>
                                        <td style="width:200px;">
                                            <p style="text-align: center;"><img src="~/images/Martys/7.png" /></p>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="style25">
                                            8.
                                        </td>
                                        <td class="style25" style="font-weight:bold">
                                            Constable
                                        </td>
                                        <td>797</td>
                                        <td style="color: #337ab7; font-weight: bold">Ratiram Sinha</td>
                                        <td>
                                            <p style="color:black; text-align:justify;font-family:Tahoma">
                                                Martyr constable Ratiram Sinha was born on 11 February 1984. He was recruited in the police service as
                                                constable on 06 January 2007, while fighting bravely in the Naxalite attack on 25 June 2008, constable
                                                Ratiram Sinha received Veeragati.
                                            </p>
                                        </td>
                                        <td style="width:200px;">
                                            <p style="text-align: center;"><img src="~/images/Martys/8.png" /></p>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="style25">
                                            9.
                                        </td>
                                        <td class="style25" style="font-weight:bold">
                                            Constable
                                        </td>
                                        <td>607</td>
                                        <td style="color: #337ab7; font-weight: bold">Vijay Yadav</td>
                                        <td>
                                            <p style="color:black; text-align:justify;font-family:Tahoma">
                                                Martyr constable Vijay Yadav was born on 07 April 1972. He was admitted to the police service on 08 November May 1994 as constable. Ambush by Naxalites on Orchha Marg Madali Police Station Orchha on 25 June 2008
                                                Andhadhun firing was done in which, while fighting bravely, constable Vijay Yadav received Veeragati.
                                            </p>
                                        </td>
                                        <td style="width:200px;">
                                            <p style="text-align: center;"><img src="~/images/Martys/9.png" /></p>
                                        </td>
                                    </tr>

                                    

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</section>

